body {
   background-color: black;

    margin:0;
  }

  .top-banner{
    background-image: url(../images/BackgroundNoLogo2.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.map{
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 350px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 350px;
}

.map-info{
    text-align: center;
}

 /* Here we style the input fields of the form */
 input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: goldenrod;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #a0a0a0;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background: rgb(255,255,255, 0.7);
    background: linear-gradient(5deg, rgba(255,255,255,0.7) 0%, rgba(152,150,150,0.7) 100%);
    padding: 20px;
    margin-top:-60%;
    color:white;
  } 

  .submit{
    margin-bottom: 15%;
    margin-left: 37%;

  }

  .map-wrapper{
    text-align: center;
  }
  .footer{
    margin-top: 10%;
    color: white;
    margin-left: 26%;
    font-size: 10px;
  }
  @media (min-width: 600px){

    .container{
      margin-top:-30%;
    }

    .submit{
      margin-left: 44%;
      margin-bottom: 2%;
    }
  
    .map{
      height: 300px;
      width: 600px;
    }
    .gmap_canvas{
      height: 300px;
      width: 600px;
    }

    .footer{
      margin-top: 10%;
      color: white;
      margin-left: 30%;
      font-size: 15px;
    }
  }

  @media (min-width: 1024px){
    .top-banner{
      display: none;
    }

    body{
      background-image: url(../images/BackgroundNoLogo2.jpg);
      background-repeat: no-repeat;
      background-position:top;
      background-position-y: 20%;
    }

    .submit{
      margin-left:46%;
    }

    .map{
      height: 400px;
      width: 700px;
    }
    .gmap_canvas{
      height: 400px;
      width: 700px;
    }

    .container{
      margin-top: 5%;
    }

    .footer{
      margin-top:2%;
      margin-left: 42%;
    }
  }
 