body {
    background: url('https://images.unsplash.com/photo-1563628657662-9be6896b80bb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin:0;
  }

.map{
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 600px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

.map-info{
    text-align: center;
}

 /* Here we style the input fields of the form */
 input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #414141;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #a0a0a0;
  }
  
  /* Add a background color and some padding around the form */
  .container {
      margin-top: 100px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.87);
    padding: 20px;
  } 