body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin:0;
  }

  p{
    color: white;
    position: fixed;
    top: 0;
    float:right;
  }