body{
  font-family: 'Cardo', serif;
}

.nav-link{
  margin:0;
}

a{
  color: white;
}

@media(min-width: 650px){
  a{
    font-size: 20px;
  }
}


@media(min-width: 900px){
  a{
    font-size: 25px;
  }
}