body {
  background:black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    margin:0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }

  p {font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;}
  .margin {margin-bottom: 45px;}


  .bg-1 { 
    width: 100%; 
    height: 360px; 
    position: relative;
  }

  .waterfall-video{
        object-fit: cover;
        border-bottom: 5px solid black;
    }

#News{
    position: absolute; top: 0; left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
    color: white;
    font-size: 100px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    }
  #bali{
    position: absolute;
    top: 75px;
    left: 15px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  #Gothenburg{

    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;

  }

  #newDestination{
    position: absolute;
    top: 40px;
    left: 15px;
    background-color:goldenrod;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .Bali-info{
      position: absolute;
      bottom:0;
      background: rgba(0, 0, 0, 0.596);
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 20px;
  }
  .bali-img{
    object-fit: cover;
      position:relative;
      top:0;
      height:100%;
      width:110%;
  }
  .bg-2 { 
      position:relative;
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    height: 700px;
    padding-top: 0px;
    padding-left: 0px;
    border-bottom: 3px solid;
  }

  .btn-secondary{
      width: 100px;
      font-family: 'Oswald';
      letter-spacing: 1px;
      font-size: large;
      background-color: goldenrod;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
    border-bottom: 3px solid black;
  }

  #contactBtn{
    position:relative;
    top:50%; 
    left:38%;
    margin-top:20px;
      background-color: goldenrod;
      justify-content: center;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  #HQ-Picture{
    align-self: center;
    width: 80%;
}

.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.65;  /* for demo purpose  */
}

#nav-placeholder{
background-color:rgba(0, 0, 0, 0.698);
}


  @media(min-width: 650px){
    .Bali-info{
        position:absolute;
        top: 65%;
        background: rgba(0, 0, 0, 0.596);
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 10px;
        padding: 20px;
        
    }

    .Bali-info p{
      font-size: 18px;
    }

    .bali-img{
        object-fit: cover;
        position:relative;
        top:0;
        width:110%;
        height: 700px;
    }

    .bg-1 { 
        background-image: url("https://images.unsplash.com/photo-1525624286412-4099c83c1bc8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
        height: 300px;
        width: 100%;
        color: #ffffff;
        border-bottom: 3px solid black;
      }

      .bg-2 { 
        position:relative;
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      padding-top: 0px;
      padding-left: 0px;
      overflow: hidden;
    }

    #HQ-Picture{
        align-self: center;
        width: 80%;
    }
    #contactBtn{
      position:relative;
      left:45%;
    }

    #visitBtn{
      bottom: 20px;
      display: inline-block;
    }
  }


  @media(min-width: 1250px){
    .Bali-info{
      margin-left: 15%;
      margin-right: 15%;
      top: 500px;
    }

    p{
      font-size: 22px;
    }
  }
